.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .bar {
    fill: steelblue;
  }
  
  .x.axis path {
    display: none;
  }

  #nswId #qldId #vicId #saId #waId{
    font-size: 8px;
  }

  .logo{
    width: 10%;
  }